[2019-07-05 10:32] NikitaEgorov commented on #204
I found the issue!!!
When I convert projects to .NET Standard
Converter create this code:
[code]

But right use this code:
[code]
**Include** should be changed to **Update**

[2019-07-11 10:56] ladinek82 opened #205 "Azure - Attempted to access an element as a type incompatible with the array."
Hi,

I use your RazorGenerator in my project and the project works good on virtual or physic servers. I have deployed the same code to Azure, where the web project is hosted like typical web site and I have this error.

`Attempted to access an element as a type incompatible with the array.
   at System.Collections.Generic.List'1.Insert(Int32 index, T item)
   at System.Web.Mvc.ViewEngineCollection

[2019-07-11 12:52] TonyValenti opened #206 "Passing Parameters to Generator"
I'm exploring this library but it looks like it is missing the ability for me to "parameterize" my templates.  What is the correct way for me to pass parameters into them?

[2019-07-11 14:40] ladinek82 commented on #205
Sorry, my fault.

[2019-07-11 14:40] #205 closed

[2019-07-24 09:30] mojk commented on #46
Having the exact same issue, did you solve it somehow?

[2019-08-13 22:57] monkey-ldb opened #207 "Compile Order?"
Hi,

I tried to use the RazorGenerator.MSBuild nuget,
but I have a problem now:
The views in the website project are using code from the website (MVC.Website) project itself.
That means, they have a using inside like @using MVC.Website.XY.
This results in an compile time error, because while compiling the "MVC.Website.dll" with the code and the views, the compiled views require the dll, which is n

[2019-08-16 17:22] CZEMacLeod commented on #207
@monkey-ldb To clarify - you are using 2 projects, one for the views and one as the main website?
If so then this won't really work as if you just had 2 projects A and B and had B depend on A and code in A that is using B it can't compile.
The solution is to create a third project C which has either the utility and concrete implementations that are required by A and B, or has Interfaces used by A

[2019-08-26 04:06] Jehoel commented on #207
I don't think that should be happening. To confirm, is that a real compile-time error you see in command-line MSBuild output, or just an IntelliSense error entry in Visual Studio' Error List?

[2019-08-26 04:08] Jehoel commented on #46
@mojk Can you post your problem as a new GitHub Issue because a lot has changed since 2015 when this question was first raised and there can be other reasons for that error message.

[2019-08-26 04:11] Jehoel commented on #205
@ladinek82 For the benefit of other users, can you explain what the problem was and how you fixed it? As far as I can tell from here your code looks okay.

[2019-08-26 04:13] Jehoel commented on #206
* How are you using RazorGenerator?
* Which `Generator` are you using?
* What kind of templates are you creating?
* What kind of parameterization are you looking for?
* What do you mean by "parameter"?
    * Generic-type parameters?
    * Value parameters?

[2019-08-26 04:14] Jehoel commented on #204
@NikitaEgorov thank you for the bug report - I'll look into reproducing this for .NET Core projects and seeing how the VS Extension can be updated to accommodate this.

[2019-08-26 04:15] Jehoel commented on #202
@salarcode My apologies for not responding sooner - I'm reopening this issue so to remind me to look into it and fix it.

..but if you closed this issue because you found a fix or workaround can you please share it? Thank you.

[2019-08-26 04:20] Jehoel commented on #201
That is outside the scope of this project - and there are already other HTML minifiers for ASP.NET and Razor, such as https://github.com/tompazourek/RazorHtmlMinifier.Mvc5

I think the best approach would be to somehow pipe the output of RazorGenerator into a Minifier - either at runtime or compile-time - doing this through an extensibility point would also allow for other kinds of post-build outp

[2019-08-26 04:27] Jehoel commented on #203
@traceygibbons  They _should_ work, but the base-path that relative-paths are applied to varies and I don't believe it's based on the physical filesystem structure of your RazorGenerator project, but it's been a long time since I last looked and I need to dig-up how it's calculated.

Have you found a solution or workaround since you posted your question that you can share? (and my apologies for ta

[2019-08-26 04:30] Jehoel commented on #199
@llihp What happens if you switch to Detailed or Verbose MSBuild output - do you see anything relevant in the log files?

* I assume it builds okay on your computer from the command-line, not just Visual Studio?
* Your build server has the same version of MSBuild and you're absolutely certain it's configured the same as your dev machine?
    * Including things like environment-variables and so on?

[2019-08-26 05:35] ladinek82 commented on #205
Yes, I can. The problem was in conrruption the files during deployment to Azure. I don't know why. I deployed the files to Azure and few files (dll libraries) had zero size.
The solution was very easy. I had to deploy again and if the files correct the project worked.

[2019-08-26 07:14] mojk commented on #46
I managed to solve it! The project that I was trying to extend used an older version, so by simply using RazorVersion: 1, it worked.

[2019-08-26 09:33] salarcode commented on #202
Turns out our team has developed a custom version of the extension that has that problem solved.
I'm not sure how they have done it and I don't have access to the code.
As a note that may help, I think the reason for the issue is we have areas in separate assemblies.

[2019-08-27 09:40] traceygibbons commented on #203
Hi @Jehoel, thanks for your reply. I'm afraid we could not find a workaround, we instead had to change our views to include the full path, e.g @Html.Partial("~/Views/Headings/Large.cshtml", model)

[2019-08-27 14:37] llihp commented on #199
@Jehoel I had a go at recreating this on my dev machine. I managed to recreate the issue by doing the following:

1. Cloning the project repository to a new directory
2. Running MsBuild on the solution
3. Re-running MsBuild on the solution

Looking at the 2 log files, the first time MsBuild is run, the RazorCodeGen task is not being executed (i can find no mention of it in the log at all).

[2019-08-28 02:06] JohnnyR1985 opened #208 "ASP.NET CORE"
ASP.NET CORE？Do you support it?

[2019-08-29 11:01] llihp commented on #199
@Jehoel I think I have identified the issue. It appears to be caused by our projects using the restorepackages option for nuget.

The first time the build is run, the RazorGenerator packages haven't been obtained before the project is built and the .cs files are not generated in the obj folder.

I have added a powershell script on our build server to restore packages prior to beginning the build a

[2019-09-11 07:05] kekefigure opened #209 "global:: syntax in using declarations causes code generation error"
Example.cshtml:
[code]

Example.generated.cs:
[code]

Expected result would be:
[code]

[2019-09-12 05:31] Jehoel commented on #209
Thanks for the report.

What version of the RazorGenerator extension and library/NuGet-package are you using?

[2019-10-03 16:39] jeffwiegner commented on #202
Having issue with this it seems also.  I've created a separate mvc project as my shared library/project.  Most of it works just fine but when dealing with areas, it seems to not keep the main projects registration when there is a controller/view in named the same that is not in an area.  My shared project does not consist of any controllers.  It has the global.asax file the same as it would be whe

[2019-10-10 21:50] Jehoel commented on #202
@jeffwiegner  When you say you have a "shared library/project" - do you mean an "Visual Studio Shared Project" (with the diamond icon, like this: https://dev.to/rionmonster/sharing-is-caring-using-shared-projects-in-aspnet-e17 ) - or just a normal Class Library project (targeting .NET Framework, .NET Standard, or .NET Core)?

[2019-10-10 22:55] jeffwiegner commented on #202
Hello,
It is a "normal" class library project.  Does NOT have the diamond.  It is a mvc project that was added to the same solution (being shared between 2 other mvc projects in same solution).Targeting .net 4.7.2

    On Thursday, October 10, 2019, 05:50:52 PM EDT, Dai <notifications@github.com> wrote:

@jeffwiegner When you say you have a "shared library/project" - do you mean an "Visual Studio

[2019-10-25 14:00] ManGysT opened #210 "Views do not recompile if namespaces section was changed in web.config from views forlder."
So as the exmaple of an issue I created new project and replaced some extensions and objects from web project to new one. Then I've added new namespace to system.web.webPages.razor -> pages -> namespaces section of web.config located in 'Views' folder and got the errors while building project. The reason is missing namespace in views.

On developer machine I can just clear folder with compiled vie

[2019-10-25 20:21] Jehoel commented on #210
RazorGenerator currently does not check the `web.config` last-modified-times or compare file hashes to trigger recompilation - because the main use-case of RazorGenerator is when you don't want to publish the cshtml files.

When you're developing, ASP.NET will use its own `BuildManager` with its own Razor view-engine which does check web.config files, and won't invoke RazorGenerator - when you pub

[2019-10-26 05:08] ManGysT commented on #210
Hi Jehoel!
Thanks for your reply.

I need a way to force rebuild views by RazorGenerator for Release configuration.
If there is no such setting, I think I need to delete CodGen folder in my deployment script.

[2019-10-28 17:10] Jehoel commented on #210
They should rebuild any time you do a project Rebuild - there's nothing special in the RazorGenerator MSBuild targets.

What does your build process look like?

[2019-10-29 09:37] ManGysT commented on #210
Hello there!
May be a test case will be helpful to understand an issue...

- Visual Studio 2017
- .NET Framework 4.6.1
- C#

1. Create **ASP.NET MVC 5** project (namespace `Web`) with **RazorGenerator.Mvc** and **RazorGenerator.MsBuild** dependencies. By default namespace `Web` will be added to **~/Views/Web.config** file `system.web.webPages.razor -> pages -> namespaces` section as `<add namespac

[2019-10-29 15:38] zztessema opened #211 "RazorGenerator could not precompile file"
RazorGenerator is not creating the generated files correctly. When running the custom tool, the generated file only contains:

When I add @* Generator: MvcHelper *@, a C# file is generated but it is an empty class with no actual code in it. None of the other host names suggested actually generate a valid C# file.

According to the documentation, the generator declaration is not required:

I was ab

[2019-10-29 19:58] Jehoel commented on #211
Please open your `*.csproj` file in notepad and copy all elements that refer to the `*.cshtm` and and any other related files. I think you may have set an incorrect Custom Build Action on the files.

Have you done a full clean rebuild of your projects (by nuking all `bin` and `obj` folders, and clearing out your system's ASP.NET Temporary Files folders)?

[2019-10-29 20:25] zztessema commented on #211
I have done a full clean rebuild of all the projects, and i get the same result.

Here is the *.csproj file with only the line that refer to the *.cshtm files:

[code]

I can post the entire *.csproj file is needed

[2019-11-12 20:28] manoharmedasani opened #212 "Trying to use razor generator from command line"
Hi,

I am trying to generate code for cshtml files from command line. i am able to successfully generate files under web project. Wherase files which are not under webproject (These files are using templatetype generator) i am able to generate however it is not matching with the files that are generating through "CustomTool".  While i investigate i found files with template type using v1 runtime -

[2019-11-12 20:30] manoharmedasani commented on #212
Event i tried running core test project - i see i am unable to execute those tests if there are multiple core project references.

[2019-11-12 23:11] Jehoel commented on #212
Which command-line program are you running specifically and with what command-line arguments?

What happens if you build your solution/project using `msbuild` from the command-line?

[2019-11-12 23:21] manoharmedasani commented on #212
Hi Jehoel,

I have built my own command line which takes cshtml filepath and project file path as input.

---Below is the code i am using to generate code

using (var hostManager = new HostManager(projectPath, false, RazorRuntime.Version3, Environment.CurrentDirectory))
            {
                var host = hostManager.CreateHost(viewFullFilePath, relativeViewPath, new CSharpCodeProvider(), ite

[2019-11-13 09:18] ManGysT commented on #210
Ok,
I've fixed it by declearing `RazorViewsCodeGenDirectory` in web app _.csproj_ file before importing `RazorGenerator.MsBuild.targets`:
[code]
Appended task `<RemoveDir Directories="$(RazorViewsCodeGenDirectory)" />` to target `BeforeBuild`.

[2019-11-26 10:03] monkey-ldb commented on #173
There is a new PR (#213 ), could @pranavkm or @Jehoel please take a look, so a new version of Razor Generator can be created with this fix? Thanks in advance!

[2019-12-11 07:32] Jehoel commented on #173
@monkey-ldb I've scheduled time in my calendar next week to review and test the PR and publish the updates.

[2019-12-13 10:44] niclasahlqvist commented on #211
We have had the same issue. And the main problem was that RazorGenerator couldn't no longer guess if our project was an MVC project or not so it defaulted to the wrong guess.

In order to guess if its an MVC project RazorGenerator searches for the presence of "System.Web.Mvc" in the .csproj file.

Ugly workaround we did was to add this line to our project file which makes RazorGenerator guess its

[2019-12-23 07:44] monkey-ldb commented on #173
Thanks for your answer.
It seems that you couldn't make it.

Anyway, happy holidays.

[2020-01-06 11:18] StiiCeva commented on #98
closing issue as it is very old and new versions of VS seem to warn you about such things (plus, now it is integrated with git)

[2020-01-06 11:18] #98 closed

[2020-01-06 13:34] Jehoel commented on #173
I’m working on this today. I needed to get my VS2019 install updated. My apologies.

[2020-01-15 17:46] Astolfoho commented on #211
Pretty Good My Friend

[2020-03-20 11:43] mbogunovic opened #214 "RazorGenerator.MsBuild - Precompile throws an error for valid case"
![image](https://user-images.githubusercontent.com/31932991/77160755-55843880-6aa8-11ea-9046-56ba4aa35f06.png)

Believe a use case should be added that if between if/else lies a // coment ignore the rule?

[2020-04-06 16:15] rjsnyderdesign opened #215 "RazorGenerator still compiling after removing NuGet Package"
Hello,

It seems like generated files are still being created when saving a .cshtml file after removing the NuGet package with the NuGet Package manager.

`[System.CodeDom.Compiler.GeneratedCodeAttribute("RazorGenerator", "2.0.0.0")]`

Do I need to remove it another way? Or maybe I'm just not understanding correctly.

I'm using Visual Studio 2017 and a MVC project.

Thank you!

[2020-04-11 11:16] robdmoore commented on #208
Hi @Jehoel. Do you have any idea for the best way to generate `MvcHelper` style (aka static class) versions of Razor code with ASP.NET Core 3.1? Been trying to figure out how to do it and struggling. In the past I used Razor Generator to do this.

Context: I'm trying to convert https://github.com/MRCollective/ChameleonForms/ to .net core 3.1 and the templates we have (e.g. https://github.com/MRCol

[2020-04-12 17:53] robdmoore commented on #208
Hi,

FYI I've created a (super basic, MVP) .netcore3.1 compatible library to perform similar (subset) functionality to what RazorGenerator did. Check it out if anyone is interested: https://github.com/MRCollective/MSBuildRazorCompiler.

[2020-04-15 04:43] kostazol opened #216 "how to check result of RazorGenerator after publish"
Hello.
I add RazorGenerator in my existing project via nuget.
[code]
I see that it work when i use debug or release. Also i found folder /obj/CodeGen and it has included my compiled views. But when i use publish and try to remove folder Views my app not work. How can i check result of RazorGenerator? Can i see it in .NET Reflector (what dll do i need to check)?

[2020-04-21 02:47] R2D221 commented on #208
@robdmoore Thanks, I already started using your port 😄

[2020-04-21 03:46] robdmoore commented on #208
Cool! Let me know how it goes for you - happy to make changes to it. I've been evolving it actively to my needs already.

[2020-04-23 11:45] muso31 commented on #211
This seems to be an issue with the new SDK project format also, if you don't add...

``

To the csproj files it doesn't work

[2020-05-15 08:44] gasperhLex opened #217 "The name 'WriteAttribute' does not exist in the current context problem with generating code"
Hi,

I've been having some problems with generating code via RazorGenerator, namely with passing any code based argument in html params like so:

[code]

[code]

Error CS0103: The name 'WriteAttribute' does not exist in the current context - HangfireServer in ServicesPage.generated.cs

The same error also happens in onclick="SomeFun(@item.Param)"

Also. It works if I pass in raw html as `@Html.Raw

[2020-05-15 09:29] Jehoel commented on #217
The `WriteAttribute` call is added behind-the-scenes because you're writing out a HTML attributes.

The `WriteAttribute` method is defined in the base-class of the page you're using. In your `.cshtml` file you've posted you're supplying your own `RazorPage` base class which won't have `WriteAttribute` defined.

If you remove the `@inherits RazorPage` line it should work.

[2020-05-15 09:40] gasperhLex commented on #217
@Jehoel Hi, thank you for the fast response. Unfortunally removing the inherits created more problems then there were.

If I change the generator file and do some changes to the code (removing some stuff that I dont want to remove), yeah it compiles and generates the .cs file, but for the template generator it doesnt.

I should probalby look into the base class im providing.

[2020-05-15 09:42] Jehoel commented on #217
What kinds of problems does it introduce?

[2020-05-15 09:45] gasperhLex commented on #217
I see the problem. The RazorPage isnt from ASP.NET as it seems.  I've been using the Hangfire RazorPage that only has WriteLiteral and Write. That explains it. Yeah.. that makes sense.

Well that does it hah :) thank you for the help

[2020-05-15 10:03] #217 closed

[2020-06-29 02:05] Cestbienmoi opened #218 "Problem with ViewStart.cshtml + PreemptPhysicalFiles = true + UsePhysicalViewsIfNewer = true"
I have an exception, sorry i do not noted but it like the ... _ViewStart.cshtml does not inherit from WebViewPage

And if i check the code, it is "normal" , in PrecompiledMvcEngine.CreateInstance:
 if (UsePhysicalViewsIfNewer && IsPhysicalFileNewer(virtualPath))
            {
                // If the physical file on disk is newer and the user's opted in this behavior, serve it instead.

[2020-07-05 00:20] Jehoel commented on #218
I can't really help without the exception details (message, type, stack-trace, etc).

Can you reproduce the issue reliably?

[2020-08-13 20:15] vinay69 opened #219 "RazorGenerator is generating VB class files for cshtml view, instead of CS class"

[2020-08-14 05:42] Jehoel commented on #219
I can't investigate this without reproduction steps.

What version of RazorGenerator are you using? What version of Visual Studio? Are the cshtml files loaded into a C# or VB.NET project? Etc.

[2020-08-14 05:47] vinay69 commented on #219
I use Visual Studio Professional 2019, RazorGenerator version 2.4.9, cshtml files loaded into vbproj.

[2020-08-14 05:47] Jehoel commented on #219
That's by-design. Change your `.cshtml` files to `vbhtml` files.

[2020-08-14 05:53] m-vinaykumar commented on #219
It's quite a lot to change, I do have other cs files on the vbproj. any setting or config tweaks to get the cs generator file?

[2020-08-14 05:56] Jehoel commented on #219
Please clarify what you mean by that.

Why would you want them, though? You can't compile `.cs` files in a `.vbproj` - you need a `.csproj`!

[2020-08-14 06:01] m-vinaykumar commented on #219
Sorry my bad, you're right. I have that as content. But the generated vb file has line endings with semicolon ';' , is it normal? or does that mean I have to correct my cshtml code?

[2020-08-18 07:39] Jehoel commented on #219
That's a bug, yes - but because there's no real reason to have `.cshtml` files in a VB project (or vice-versa) that are fed into RazorGenerator it isn't something we've felt compelled to fix (it's like driving a sedan car off-road and complaining that the tyres burst when you drive over a cactus... they're not meant to burst, correct - but you're also not meant to drive over a cactus either).

[2020-09-22 07:27] Jehoel commented on #211
Update: My boss told me I'll soon be working again on our project which uses RazorGenerator heavily, so I'll be able to dive deep into this once again (I'll have to, actually - seeming as my dev environment is now 100% VS2019). This will be sometime in October.

[2020-10-05 03:16] richardhauer commented on #196
In Blazor - at least in WASM - the views are all compiled into a DLL for shipping already, so there's really no additional steps required.  There's nothing for `RazorGenerator` to do.

[2020-11-02 09:44] Jehoel commented on #211
My project has been delayed by a few weeks - but should start sometime this week!

[2021-01-04 23:39] alexandis opened #220 "Base class not found with currently generated "using" inside "namespace""
I have **Netstandard2.0** lib. My markup is the class inherited from `Hangfire.Dashboard.RazorPage `abstract class (`Hangfire` package).

Here's what I'm stuck on:

![image](https://user-images.githubusercontent.com/6149843/103590434-8712a700-4ef6-11eb-8b57-994d7ba8401b.png)

If i swap "using" and "namespace" (i.e. put all "using" before "namespace") - everything is allright.

[2021-01-05 19:26] alexandis opened #221 "@model is rendered as a value"
Just in case: using Microsoft.AspNetCore.Mvc.Razor 2.0.4 Nuget package. Cannot use a newer version, since as I need to support Netstandard2.0 only.

![image](https://user-images.githubusercontent.com/6149843/103689479-0dcd8f80-4f9c-11eb-90c0-9d83b7658eec.png)

![image](https://user-images.githubusercontent.com/6149843/103689599-39507a00-4f9c-11eb-94e9-3206acc5bad0.png)

[2021-02-05 23:11] bsulliva opened #222 "RazorGenerator.MsBuild Not PreCompiling Views on ADO Build"
Hello, I'm using the latest RazorGenerator.MsBuild NuGet package and when I compile the MVC solution in Visual Studio I see the obj\CodeGen directory. However, when I run the build in Azure DevOps, which uses MSBUILD, I'm not seeing the obj\CodeGen directory. In the build solution step, I don't see anything in the logs related to "precompile". Is there something I'm missing?

[2021-03-04 13:10] Jehoel opened #223 "Investigate performance issues documented in a 2018 blog article"
https://jermdavis.wordpress.com/2018/04/02/an-interesting-side-effect-of-compiled-views/

[2021-03-04 13:13] Jehoel commented on #173
I now have RazorGenerator's **Custom Tool** working in VS2019 - phew. The VSIX is also compatible with VS2015 and VS2017.

Caveats:

* The code in RazorGenerator to load the "v1" (ASP.NET 3.5, .NET Framework 2.0-3.5), and "v2" (ASP.NET 4.0) versions of the Razor libraries are... convoluted. I think it would be prudent to simply cut-off those vestigal versions now, no?
* No support for ASP.NET Core

[2021-03-04 13:15] Jehoel commented on #188
I now have RazorGenerator's Custom Tool working in VS2019 - phew. The VSIX is also compatible with VS2015 and VS2017.

Caveats:

The code in RazorGenerator to load the "v1" (ASP.NET 3.5, .NET Framework 2.0-3.5), and "v2" (ASP.NET 4.0) versions of the Razor libraries are... convoluted. I think it would be prudent to simply cut-off those vestigal versions now, no?
No support for ASP.NET Core's versi

[2021-03-04 13:26] Daddoon commented on #188
Is this also related to the fact that since some days, I have issue with intellisense doing things completly wrong if i try to do an autocompletion ? Like the autocomplete does not appear where it should, and instead write code somewhere else in the file.

[2021-03-04 18:21] davidebbo commented on #188
Yes, limiting the support matrix seems like the right thing to do. People need to move forward!

[2021-03-05 01:36] Jehoel commented on #188
@davidebbo I need to pick your brain for some guidance: when RazorGenerator (and the Razor assemblies) are ran as a **Custom Tool** in VS2019 they're hosted in-proc (though in their own appdomain) inside a  .NET Framework 4.7.2+ appdomain - from what I can tell the v1 and v2 assemblies worked this way by sheer miracle of .NET back/forwards compatibility. I understand this approach simply won't wor

[2021-03-05 01:43] Jehoel commented on #188
@Daddoon

RazorGenerator builds on-top of VS's existing Razor tooling - with some creative workarounds for scenarios unsupported by VS (like how originally if you had a non-web project VS wouldn't recognize `.cshtml` files at all). I've forgotten how all of this works (this is _embarrassing_ given I used to work on Visual Studio when I was at MS, albeit not in the main IDE Text Editor team) - but

[2021-03-05 17:18] davidebbo commented on #188
@Jehoel .NET Core support seems like a big topic which should be discussed in a separate issue, since this one is tracking VS 2019 support.

I think we'll need to add big questions first. Like whether there is even demand for this tool in the Core world.

Frankly, I'm very disconnected from the .NET world since leaving MS in 2018, so I'm not at all up to date on the latest and greatest things happ

[2021-03-05 17:53] pranavkm commented on #188
👋🏽 @davidebbo

* The Razor language assemblies target netstandard2.0, so they should be loadable inside VS 2019 which requires .NET 4.8.
* .NET Core ships a build-time experience for Razor files and it's on by default. Things like build time errors and faster startup that RazorGenerator tries to solve are kinda taken care of.
* The templating aspect is still unsolved i.e. trying to use .cshtml fil

[2021-03-05 17:56] Jehoel commented on #188
@pranavkm Phew, that's a relief - I was concerned that the latest Razor-for-.NET 5 stuff wouldn't be targeting .NET Standard anymore.

[2021-03-10 17:32] TrymBeast opened #224 "Conditional attributes"
Hello,

After changing one application to use the RazorGenerator precompilation I noticed that the conditional attributes don't work anymore.

Using things like this:
[code]

That would output for example this:
[code]

Now outputs the following:
[code]

I actually didn't found any official documentation about this feature, but there are a lot of articles about it since ASP.Net Mvc 4 and I have fou

[2021-03-19 00:19] LucioPelinson commented on #202
+1
I have same problem
1) Create a class library project (import MVC and RazorGenerator)
2) Create a "Areas" named "test" with HomeController
3) Create MVC project and add reference to class library project
4) Create HomeController in MVC project
5) Config namespace on route (Fix error duplicate controller)

The problem:
6) When call library areas test/home route a "home from MVC project" is displ

[2021-04-01 16:45] Jehoel commented on #224
When using RazorGenerator, the rendering of SGML boolean attributes is handled by `WriteAttributeTo` in `RazorTemplateBase`, which is a class that is added to your project (in source form) by the NuGet package).

The current (and future) releases of RazorGenerator implement Conditional attributes correctly and so they should behave the same as (pre-.NET Core) ASP.NET MVC and ASP.NET Core's.

I'm g

[2021-04-01 16:48] Jehoel commented on #222
Do you have a `<RazorViewsCodeGenDirectory>` property in any of your `.csproj`, `.props`, or `.targets` files?

What happens if you do a command-line build (outside of Visual Studio) on your dev machine using the same build commands as Azure DevOps?

[2021-04-06 10:09] TrymBeast commented on #224
@Jehoel I'm not specifying any generator mode, but I am using the following directives:
* ExcludeForCodeCoverage
* BaseType
* Imports
* GenerateAbsolutePathLinePragmas

Maybe one of those can trigger this?

[2021-07-14 08:38] Daddoon opened #225 "Visual Studio 2022 Support"
Hi !

Is there any Visual Studio 2022 support planned ?

Thanks !

[2021-07-14 15:13] Jehoel commented on #225
I'm not a Microsoft _blue-badger_ anymore, so I don't have good access to VS 2022 builds - but ostensibly, yes.

[2021-07-14 15:20] Daddoon commented on #225
Hi @Jehoel , thanks for your reply.

The VS2022 Preview [is available here](https://visualstudio.microsoft.com/fr/vs/preview/vs2022/)

What content do you expect from the VirtualBox image to be set ?

Also, my concern and so the reason of this question, is that due to the changing nature of VS2022 extensions implementations (Out of Proc ?) and the 64 bit behavior, i don't know if it's hard to migr

[2021-07-14 15:22] Jehoel commented on #225
Actually it's a _good thing_ because running out-of-proc means that RazorGenerator could run Razor for ASP.NET Core in .NET Core, instead of being stuck in .NET Framework 4.8.

[2021-07-14 15:29] Daddoon commented on #225
But do you think that it will still work for ASP.NET MVC 4 / 5 projects ?
I'm asking because i'm still working on a Legacy project for a client.

Yes out of proc should be good, but i have no idea what it implie in terms of work on this project.
What do you need from the VM Image ?

Cool that you have already tested some things (with or without Hatsune Miku names !), you surely have a wider view t

[2021-07-14 15:34] Jehoel commented on #225
Yes, it should still work. Even though the hosting model has changed, it looks like the all-important `EnvDTE` is still accessible so that's all that matters.

The bulk of `RazorGenerator` runs entirely independently of Visual Studio. The VSIX is only there to enable the `Custom Tool` integration - (and personally I'd prefer it if everyone ditched it and switched to the MSBuild version instead).

[2021-07-14 15:45] Daddoon commented on #225
Wait a minute ! I can already do this with a MSBuild version existing somewhere ?? 😆

I have no clue, but i imagine that this is enough !

Ok !

"Beer: Think Different"
Sometime some little alterations can be good in order to have a kind of...new point of view on things ! 😆

R.I.P

[2021-07-20 20:15] Jehoel opened #226 "RazorGenerator NuGet package should add MSBuild properties to force specific VS IDE .cshtml editor"
See https://github.com/dotnet/roslyn/discussions/54068

Though since NuGet packages were nerfed a few years ago (e.g. can't add content files to a project anymore), how can they add/define MSBuild properties when the package is installed?

[2021-08-31 17:11] Daddoon commented on #225
Hi @Jehoel !

I just made a PR here if your are interested: https://github.com/RazorGenerator/RazorGenerator/pull/227

[2021-09-01 11:37] CZEMacLeod commented on #225
For reference I've been using the MSBuild version with VS2022 quite successfully since the preview 1 release.
Also note that VS2022 installs side by side with previous versions, and so does not interfere with development, so the use of a VM is not such a requirement.
If you need help with package splitting for multitargetting VS2019 and VS2022, there are some great videos by @madskristensen on [Yo

[2021-09-01 11:46] Daddoon commented on #225
@CZEMacLeod Thanks for your feedback.

Unfortunately, on my side, the RazorGenerator.MSBuild package does not work at all on the very old legacy project i'm working on for a client. It just fail the build without any error logged into the VS2022 output window.

Using the legacy RazorGenerator.Tooling project (the VSIX extension) is the only thing that keep my old project working.

Thanks for the Y

[2021-09-01 12:48] CZEMacLeod commented on #225
@Daddoon / @Jehoel : You might find some helpful folks over at Community.VisualStudio.Toolkit could help out, or perhaps even ask during one of the `Writing Visual Studio Extensions with Mads` live sessions.

@Daddoon - As for the MSBuild issues - remember to add the nuget package, remove the `Custom Tool` entry from all the razor pages and (optionally) change the `Build Action` from `Content` to

[2021-09-02 05:57] Jehoel commented on #225
@CZEMacLeod @Daddoon Thanks - I'm looking at this now

[2021-11-10 08:56] bnuzhouwei commented on #225
Nice work, I am upgrading my old project to VS2022, but can't find the RazorGenerator in VS Store.

Thanks very much.

[2021-11-11 08:42] ze-pequeno commented on #225
@Jehoel @Daddoon @CZEMacLeod Visual Studio 2022 is now out. Is there a chance to get a compatible or specific version of the extension for Visual Studio 2022 ? The sample from the #227 PR seems to work but is not available officialy.

[2021-11-11 09:17] Daddoon commented on #225
@ze-pequeno I'm unfortunately not a maintainer of this repo. I think @Jehoel  must do something about this. In the worst case, someone may upload this as an other product on VS Marketplace but this is not ideal, like "RazorGenerator 2022", like someone else did it for some Mads Kristensen tools.

The "only" issue with my PR is that it was not targeted to be specifically backward compatible with ol

[2021-11-15 17:26] Daddoon commented on #225
Just for info, as there is no answer from @Jehoel, like some other author on other plugins, i did publish a forked version of RazorGenerator, available here: https://marketplace.visualstudio.com/items?itemName=GuillaumeZahra.razorgenerator2022

[2021-11-16 08:28] ze-pequeno commented on #225
@Daddoon Thanks I will install it soon :)

[2021-12-13 14:20] bartcoppens commented on #225
Thanks! Installed. Seems to work fine.
The file generation doesn't seem to trigger on save though.
Looks like I need to manually "Run custom tool".
Am I missing something?

[2021-12-13 14:31] Daddoon commented on #225
@bartcoppens I work by default on my projects. Is  "RazorGenerator" written in the CustomTool property ?
My VS2022 installation is in French, but my files should be something in English like:

Generate Action: Included
Copy in Folder: Do not copy
Namespace of the tool: Empty
Custom Tool: RazorGenerator

Is the Extension listed in your VS extension list as installed ?
Are you using VS2022 or VS2022

[2021-12-13 15:51] bartcoppens commented on #225
I confirm it works correctly after restarting Visual Studio

From: Guillaume ZAHRA ***@***.***>
Sent: Monday, December 13, 2021 3:31 PM
To: RazorGenerator/RazorGenerator ***@***.***>
Cc: Bart Coppens ***@***.***>; Mention ***@***.***>
Subject: Re: [RazorGenerator/RazorGenerator] Visual Studio 2022 Support (#225)

@bartcoppens<https://github.com/bartcoppens> I work by default on my projects. Is "Ra

[2021-12-13 16:41] davidebbo commented on #225
We should try to get this in the official one. So @Daddoon, from what I can see, your PR was never merged in? I see you now closed it, so we should probably reopen it and get it in.

I haven't used VS in a few years, but I should be able to install 2022 on some old machine and get it built and published.

[2021-12-13 16:53] Daddoon commented on #225
I published the extension on my side on the meantime, as a fork, but feel free to take precedence over my PR and publish an update.

I would then remove my extension from the store.

The only possible missing thing on my PR, is that i didn't tested if it would work on older versions of Visual Studio (i mean if you remove the soft limit in the vsix manifest).

[2021-12-13 17:06] davidebbo commented on #225
Thanks Guillaume. Any chance that someone can do a quick test to make sure it still works on earlier VS versions?

[2021-12-17 16:15] davidebbo commented on #225
Ok, I pushed new version 1.13.0, which should support both older VS (starting with VS 2017) and the newest 2022.

Caveat: I was only able to test VS 2022, so if you run into problems with older ones, let us know.

[2021-12-17 16:18] Daddoon commented on #225
Will do a test on VS2019 tomorrow or Monday if no one try before me.

[2021-12-17 16:18] davidebbo commented on #225
Thanks Guillaume!

[2021-12-17 16:37] Daddoon commented on #225
Did you update the manifest as intended ?
I do see Razor Generator 1.13.0 listed from VS2022 and VS2022 Preview, but it has totally disappeared from VS2019.

I think VS2019 cannot fetch it from the Marketplace for now.
Something in the VSIX is maybe wrong.

[2021-12-17 16:39] Daddoon commented on #225
I think i should to a quick test from source tomorrow, and see in wich configuration the VSIX is manually installable with both VS2019 and VS2022 configuration, as it seems you don't have access to VS2019 for now.

[2021-12-17 17:49] davidebbo commented on #225
Ah crap, I thought it would work based on the manifest changes I made: https://github.com/RazorGenerator/RazorGenerator/blob/master/RazorGenerator.Tooling/source.extension.vsixmanifest. I tried to follow https://stackoverflow.com/questions/67769432/error-vssdk1311-about-productarchitecture-when-building-extension-for-vs2022.

[2021-12-17 17:55] davidebbo commented on #225
Also, some info on [this page](https://docs.microsoft.com/en-us/visualstudio/extensibility/migration/update-visual-studio-extension?view=vs-2022) but it's not super clear.

[2021-12-17 17:55] Daddoon commented on #225
I think there is a typo error on your side.

I think theses kind of line:

[code]

Should be this instead:

[code]

I'm maybe wrong, but if you put a ] instead of a ) , maybe 16.x version after strictly 17.0 versions are excluded ?

[2021-12-17 18:02] Daddoon commented on #225
I will take a look on this in order to publish the correct update if you want, but i will not be available for that before Monday.

[2021-12-17 18:28] davidebbo commented on #225
Good catch! I republished it with that change (still as 1.13.0)

[2021-12-17 18:39] Daddoon commented on #225
Not visible at the moment. I will try a little later.

[2021-12-17 18:51] davidebbo commented on #225
I published it as a release in case you want to try the VSIX directly (not through marketplace): https://github.com/RazorGenerator/RazorGenerator/releases/tag/v1.13.0

[2021-12-18 16:38] Daddoon commented on #225
Thanks !

[2021-12-18 17:11] Daddoon commented on #225
I tried to target all Visual Studio at the same time with something like this:

[code]

However it doesn't work on VS2019, and so i imagine, same for earlier version.

In my opinion, this surely mean that you can't use the new **NuGet model** for Visual Studio extensions development on previous versions of Visual Studio, i think it's supported only for VS2022 and afterward.

The recommendation of

[2021-12-19 15:34] davidebbo commented on #225
Thanks for investigating. Maybe the cheaper alternative is to go back to the fork approach:

- Create a VS 2019 branch with the old code
- Use master for 2022, and only have it target 2022+
- Use a different extension GUID

So... basically exactly what you had done. :) Except we make it official. The only downsides I can think of are:

- the old installation count will not carry
- we lose the revi

[2021-12-19 18:28] Daddoon commented on #225
As we don't know when Visual Studio MarketPlace will support multi-vsix shipping, i think it's safer to have two different versions.
I suggest to call the VS2022 version **Razor Generator (64 bits)** or **Razor Generator 2022+** . What do you prefer ? I doubt we can keep the same Extension name exactly.

Also:
- I have created a new branch on the repo called **x86_branch** . It was the last commit

[2021-12-19 18:47] Daddoon commented on #225
In doubt of support or lack of support for extensions with same display name but different Identity....Here are two VSIX of Razor Generator for VS2022.

- Both have a new Identity for the store in order to be different from the RazorGenerator - VS2019 and earlier version.
- This new identity is of course the same on the two files.
- The only difference is that one is compiled with display name "Ra

[2021-12-19 19:15] davidebbo commented on #225
Marketplace is continuing to make our life difficult. :( It only keeps the last version, so I can't just delete 1.13 and have it go back to 1.12. And to make things worse, it will not let me reupload the older one:

    Version cannot be decremented. Needs to be equal to or higher than 1.13.0.

Sorry, it's my bad, I should not have pushed the 1.13 version until we had time to better test it. Anywa

[2021-12-19 19:49] davidebbo commented on #225
Ok, a little bit of good news: I was able to publish the 2022 version using the same name. You can see it on https://marketplace.visualstudio.com/items?itemName=RazorGeneratorContributors.RazorGenerator.

Note that I created it under a different **publisher** called `RazorGeneratorContributors`, which is cleaner than it being under a DavidEbbo contributor (the old extension is https://marketplace.

[2021-12-19 20:15] Daddoon commented on #225
Strange, as i see on the tags of Jehoel the 1.12 number shown, and no official release about the VS2019 support , i mean on GitHub. But i can confirm that the provided VSIX for 1.12 does install on VS2019, as i tested before sending it.

Bad news for the 1.13 thing for the publication...as from the default x86_branch, i'm not able to build in the current state, as there is some incorrect things, i

[2021-12-19 20:28] Daddoon commented on #225
The Razor Generator publication you made for VS2022 (with 0 votes) works as intended !

I have at least 3 Razor Generators shown (The current that don't work on older VS , my own iteration that i can safely remove, and the one you just published).

![image](https://user-images.githubusercontent.com/23449646/146689666-eb765fe6-41e9-493c-a4fa-65349ddaeae1.png)

I will remove my publication on the ma

[2021-12-19 20:36] davidebbo commented on #225
Great for the VS2022 version!

For the older vsix, it's strange. If you download the one from the 1.12 release (https://github.com/RazorGenerator/RazorGenerator/releases/download/v1.12.0/RazorGenerator.vsix) and look inside it (vsix is just a zip file, rename it to .zip), the manifest definitely says 1.11.1.

BTW, if you really think that's the right VSIX for 2019, I wonder if we can just do some

[2021-12-19 20:46] Daddoon commented on #225
You are right about the versioning. In reality the VSIX i sent you is the original build i made in my VS2019 PR, and i called it 1.11.1 myself at the time.

Then it was 1.12 on the Marketplace because Jehoel as changed the version, as seen on the last commit: https://github.com/RazorGenerator/RazorGenerator/commit/937972e94d83e71a5a1d372e81c2de98723c1165

But in reality it's the same build.
You ar

[2021-12-19 21:01] davidebbo commented on #225
Ok, so I tried the 'surgery' and it appears to have worked. I just made it 1.13.0 again (using your 1.11.1 as a base), and published it.

Can you check if VS 2019 can see it now (and that it works)?

[2021-12-19 21:03] Daddoon commented on #225
Ho i just finished the same thing on my side (same surgery). Ok i will check just now.

[2021-12-19 21:08] Daddoon commented on #225
No it didn't work. But i know why, you forgot some others references of 1.11.1 in some other files (I just replaced them all with Notepad++).

Either you replace theses missing reference by yourself, or you can use this VSIX (The VSIX is in the ZIP file, as i can't upload VSIX directly on a GitHub post, so you must extract him first).

[RazorGenerator.1.13.1.VS2019.zip](https://github.com/RazorGen

[2021-12-19 21:10] Daddoon commented on #225
Wait, i still have the thing opened, i may just upload a 1.13 naming one

[2021-12-19 21:14] davidebbo commented on #225
Ok, I'll let you do it! I'm on a Mac and I'm not well equipped to do it. I guess 1.13.1 is fine, but the Marketplace is perfectly happy with reusing the same version. Either way is fine!

[2021-12-19 21:14] Daddoon commented on #225
Here is the same file but as 1.13. Just installed and tested it on VS2019, working fine.

[RazorGenerator.1.13.VS2019.zip](https://github.com/RazorGenerator/RazorGenerator/files/7741613/RazorGenerator.1.13.VS2019.zip)

[2021-12-19 21:18] Daddoon commented on #225
Also good news, the 1.13 versions from the original ID of the manifest has disappeared from VS2022 Extensions list in Visual Studio, so only the Razor Generators you just built today that target VS2022 (and later) is visible. Perfect.

Keep me informed when the update 1.13 for VS2019 and earlier is live. I will then try to install it from the feed just to be sure !

[2021-12-19 21:25] davidebbo commented on #225
For some odd reason, it was not happy with your 1.13.0:

    Upload failed: TF400898: An Internal Error Occurred. Activity Id: ad0108a2-68dc-420f-8ccb-b96f12f2ea56.

I tried 3 times and got this error, so it's not random. Hard to know what's wrong.

I tried your 1.13.1, thinking I would get the same error, and somehow it seems to have gotten through!

Fingers crossed that it actually works...

[2021-12-19 21:36] Daddoon commented on #225
Strange, it's just the same as 1.13.1 ! Surely a Visual Studio Marketplace mistery as i just tested it before sending it to you.
I will try your release on VS2019.

[2021-12-19 21:43] Daddoon commented on #225
It works !

I think we can close this issue now.

Do we have to update the Release page VSIX and Tag name ? And adding two VSIX on a 1.13 Release, targeted for VS2019 and earlier, and the other for VS2022 ?

[2021-12-19 21:49] davidebbo commented on #225
Awesome! Man, that was way more painful than I expected. Thanks for helping drive this!

I think it's fine to just upload both to the same release, and just update the description to explain the situation. Hopefully that's the last ever release for older VS. And hopefully it'll just work with pain with the next version of VS since we left it open ended.

[2021-12-19 21:50] #225 closed

[2021-12-19 21:52] Daddoon commented on #225
Agreed !

Are you doing this edit/new 1.13 release note or must i do it ?

[2021-12-19 21:59] davidebbo commented on #225
I just updated https://github.com/RazorGenerator/RazorGenerator/releases/tag/v1.13.0. I noticed the vsix for VS 2022 is 3 times the size. Hopefully that's expected!

[2021-12-19 22:04] Daddoon commented on #225
Strange, it's 1.9MB if you download it directly for Visual Studio Marketplace Web page https://marketplace.visualstudio.com/items?itemName=RazorGeneratorContributors.RazorGenerator

I don't know if it's a different file or simply a weird "rounding" from GitHub.

[2021-12-19 22:30] davidebbo commented on #225
If you download from GitHub, it's actually 4.6MB. But if you unzip it and rezip it, it's 1.9. So for some reason, the one you put on GitHub was zipped with a very low compression level. I doubt the GitHub changed it, it keeps the exact binaries you upload.

Anyway, maybe not worth worrying about at this point!

[2022-01-06 15:08] DomZZ opened #229 "[Question] VS 2022 and RazorGenerator.MVC / RazorGenerator.MsBuild nuget packages not working"
Hello,

We are using the nuget packages for building our cshtml files on the CI (Teamcity) when building our packages.
We recently moved on buildtools VS 2022 and we observed that cshtml are no more compiled in the assembly.

I saw that the Visual Studio extension has been fixed to run on VS 2022.

When will you release the nuget packages ?

Thanks

[2022-03-17 18:35] POFerro opened #230 "@attribute directive is being rendered as text"
Hi :),

I am trying to generate a template from razor file and was trying to generate a class decorated with an attribute like this:
![image](https://user-images.githubusercontent.com/4305113/158864109-37768455-31a5-43d5-b72f-e75b06fd7fe1.png)
In this sample the code generated writes attribute as a value like this:
![image](https://user-images.githubusercontent.com/4305113/158872273-c2641d04-95f6-

[2022-04-05 13:21] CZEMacLeod commented on #226
@Jehoel
Firstly, a nuget package can add its own build props and targets to a project, so it could easily inject the property and item that way, without modifying the main project file itself.
It would also need to add
[code]
to ensure the new LSP version of the Razor editor doesn't load.

To this end, I creates a new SDK project type [`MSBuild.SDK.SystemWeb.RazorLibrary`](https://github.com/CZEMa

[2022-04-05 13:35] CZEMacLeod commented on #230
Hi @POFerro.
`@attribute` is not a Razor V3 language command, and so it assumes you are trying to output the value of a variable named `attribute`. If you are getting intellisense for the `@attribute` as a directive, then you are probably missing some project properties to ensure you are _not_ using the LSP or Razor V4+ language version.
Options here are to use [`Special Razor directives`](https:/

[2022-04-05 17:54] POFerro commented on #230
Hi @CZEMacLeod ,

That's really bad news :(.
I hadn't realized that there were diferent versions of Razor involved, was just looking at the documentation
[here](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-6.0#attribute).
Can you point me to somewhere where I can see documentation of Razor V3?

Unfortunatelly the Special Razor directives can't help me, I'm trying to

[2022-04-05 18:21] CZEMacLeod commented on #230
@POFerro The article you reference specifically states that it is the `Razor syntax reference for ASP.NET Core`.
Since `RazorGenerator` is designed for ASP.NET rather than core, which has its own generator mechanism, this is why some of the docs are not relevant.

Most of the actual razor file parsing and code generation is done by the `Microsoft.AspNet.Razor` nuget package, and specifically the [

[2022-04-11 18:42] fasteddys opened #231 "signing the view for security"
Can we [incorporate view signing](https://github.com/0xacb/viewgen)

![image](https://user-images.githubusercontent.com/96149622/162807704-e52ca20d-c84d-425e-9f38-747e8b31fc97.png)

[2022-04-14 14:09] CZEMacLeod commented on #231
@fasteddys Not sure what you mean by this. RazorGenerator uses the MVC model and does not include any form of ViewState.

- https://stackoverflow.com/a/23623614/1243548
- https://stackoverflow.com/a/1285568/1243548
- https://stackoverflow.com/a/366174/1243548

[2022-04-17 04:13] #231 closed

[2022-07-15 14:20] #145 closed

[2022-07-18 12:25] rcheluvaiah opened #236 "Unable to enable custom tool on all views with "Enable-RazorGenerator" command"
Hi,

We want to use RazorGenerator for pre-compilation of the views.

While we are running "Enable-RazorGenerator" command to enable the Custom Tool on all the views. we are seeing the below error. Can you please suggest us on how to solve this issue? We also tried the command "Enable-RazorGenerator -ProjectName YourProjectName", But it do not help us.  We are using 2.4.9 version of RazorGenerator

[2022-07-18 14:57] CZEMacLeod commented on #236
Not sure about the error you are getting specifically - but I would recommend _not_ using the add-in / powershell / custom tool at all, and simply install the `RazorGenerator.MSBuild` nuget package. That way any changes will work on any machine, and it will always be up to date, even on a build server.

[2022-07-26 01:28] arontsang opened #237 "RazorGenerator.Templating should target netstandard instead of net framework"
This would get rid of the annoying NU1701 warning when using `RazorGenerator.Templating` in a dotnet core/standard application.

[2022-11-13 04:04] chased316 opened #241 "Could someone update the samples to .net 4.6/4.8+"
Project only supports vs2022+, but the project samples aren't supported in vs 2022.